/* components/alerts.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
  @apply relative rounded-lg border px-4 py-3 mb-4 text-base;
  @apply shadow-sm;
}

.alert-success {
  @apply alert border-green-400 bg-green-50 text-green-800;
}

.alert-danger {
  @apply alert border-red-400 bg-red-50 text-red-800;
}

.alert-warning {
  @apply alert border-yellow-400 bg-yellow-50 text-yellow-800;
}

.alert-info {
  @apply alert border-blue-400 bg-blue-50 text-blue-800;
}

.alert-secondary {
  @apply alert border-gray-400 bg-gray-100 text-gray-800;
}



